- if RedminePrivacyTerms.setting?(:enable_cookie_agreement)
  = stylesheet_link_tag 'cookieconsent.min', plugin: 'redmine_privacy_terms'
  = javascript_include_tag('cookieconsent.min', plugin: 'redmine_privacy_terms')

  javascript:
    window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#{RedminePrivacyTerms.setting(:cookieconsent_popup_background)}",
            "text": "#{RedminePrivacyTerms.setting(:cookieconsent_popup_text)}"
          },
          "button": {
            "background": "#{RedminePrivacyTerms.setting(:cookieconsent_button_background)}",
            "text": "#{RedminePrivacyTerms.setting(:cookieconsent_button_text)}"
          }
        },
        "position": "top",
        "content": {
          "message": "#{RedminePrivacyTerms.setting(:cookieconsent_message)}",
          "dismiss": "#{RedminePrivacyTerms.setting(:cookieconsent_dismiss)}",
          "link": "#{RedminePrivacyTerms.setting(:cookieconsent_link)}",
          "href": "#{RedminePrivacyTerms.setting(:cookieconsent_href)}"
        }
      })});

- if RedminePrivacyTerms.setting?(:enable_cookie_agreement) || RedminePrivacyTerms.setting?(:enable_terms)
  = stylesheet_link_tag 'privacy_terms', plugin: 'redmine_privacy_terms'
